<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UCAM Login - UAP</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

  <link rel="stylesheet" href="{% static 'login_student.css' %}">

</head>
<body>

  <div class="login-box">
    <img src="{% static 'images/uap.png' %}" alt="UAP Logo">

    <h1 class="shuvo">UAP Yummy Zone</h1>
    
    <form method="POST" action="{% url 'login_student' %}">
    {% csrf_token %}
    <div class="input-group">
        <input type="text" id="username" name="username" required placeholder=" ">
        <label for="username">Student Username</label>
        <i class="fa fa-user"></i>
    </div>

    <div class="input-group">
        <input type="password" id="password" name="password" required placeholder=" ">
        <label for="password">Password</label>
        <i class="fa fa-lock"></i>
    </div>

    <button type="submit" class="login-btn">Login</button>
</form>

  </div>

</body>
</html>
